<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <% @resipies.each do |c| %>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <p class="lead"><%= c.title %></p>
                <p class="card-text"><%= c.description %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to "View", recipe_path(c.id) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</main>
